.container .filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    margin-right: 30px;
    float: right;
}

button:hover {
    opacity: 0.9;
}

.location {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 12.5%;
    border-right: 1px solid #DDDDDD;
    position: relative;
    margin-left: 45px;
}

.amenities {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 12.5%;
    margin-left: 45px;
    border-right: 1px solid #DDDDDD;
}

h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 600;
}

h4 {
    font-weight: 400;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 10px;
}