.container .filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

button {
	color: #FFFFFF;
	font-size: 18px;
	height: 48px;
	width: 20%;
	background-color: #FF5A5F;
	border-style: none;
	border-radius: 4px;
	float: right;
	margin-top: 10px;
	margin-right: 30px;
}

button:hover {
    opacity: 90%;
}

.locations {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 25%;
    border-right: 1px solid #DDDDDD;
    margin-left: 45px;
}

.amenities {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 25%;
    margin-left: 45px;
    border-right: 1px solid #DDDDDD;
}

h3 {
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 4px;
}

h4 {
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 4px;
}

ul {
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 20px;
    list-style-type: none;
}

li {
    list-style-type: none;
}

.popover {
    position: absolute;
    background-color: #FAFAFA;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: none;
    padding: 25px 0px;
    margin-left: -35px;
}

.locations:hover .popover,
.amenities:hover .popover {
    display: inline-block;
    width: 25%;
}   

.popover h2 {
    margin: 0;
    padding: 0;
}
