.places {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align:  center;
}

h1 {
    display: block;
    text-align: left;
    font-size: 30px;
    width: 100%;
    float: left;
}

article {
    display: inline-block;
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    text-align: center;
    position: relative;
}

article h2 {
    font-size: 30px;
    display: inline-block;
    padding: 0px;
    margin: auto;
}
